// color variants
@import 'themes-vars.module.scss';

// third-party
@import '~react-perfect-scrollbar/dist/css/styles.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

// ==============================|| LIGHT BOX ||============================== //
.slick-arrow:before {
    color: $grey500;
}

// ==============================|| LIGHT BOX ||============================== //
.fullscreen .react-images__blanket {
    z-index: 1200;
}

// ==============================|| APEXCHART ||============================== //

.apexcharts-legend-series .apexcharts-legend-marker {
    margin-right: 8px;
}

// ==============================|| PERFECT SCROLLBAR ||============================== //

.scrollbar-container {
    .ps__rail-y {
        &:hover > .ps__thumb-y,
        &:focus > .ps__thumb-y,
        &.ps--clicking .ps__thumb-y {
            background-color: $grey500;
            width: 5px;
        }
    }

    .ps__thumb-y {
        background-color: $grey500;
        border-radius: 6px;
        width: 5px;
        right: 0;
    }
}

.responsiveDialog {
    z-index: 2000;

    .MuiDialog-paper {
        width: 100%;
        max-height: 435px;
    }

    @media only screen and (min-width: 320px) and (max-width: 480px) {
        .MuiDialog-paper {
            width: 100%;
            max-height: 435px;
        }
    }
}

.scrollbar-container.ps,
.scrollbar-container > .ps {
    &.ps--active-y > .ps__rail-y {
        width: 5px;
        background-color: transparent !important;
        z-index: 999;

        &:hover,
        &.ps--clicking {
            width: 5px;
            background-color: transparent;
        }
    }

    &.ps--scrolling-y > .ps__rail-y,
    &.ps--scrolling-x > .ps__rail-x {
        opacity: 0.4;
        background-color: transparent;
    }
}

// ==============================|| ANIMATION KEYFRAMES ||============================== //

@keyframes wings {
    50% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bounce {
    0%,
    20%,
    53%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translateZ(0);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -5px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -7px, 0);
    }

    80% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translateZ(0);
    }

    90% {
        transform: translate3d(0, -2px, 0);
    }
}

@keyframes slideY {
    0%,
    50%,
    100% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-10px);
    }

    75% {
        transform: translateY(10px);
    }
}

@keyframes slideX {
    0%,
    50%,
    100% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(-10px);
    }

    75% {
        transform: translateX(10px);
    }
}

.upload {
    position: relative;
}

.uploadIcon {
    margin-top: 50%;
    margin-left: 40%;
    // position: absolute;
    // top: 63%;
    // right: 68%;
}

.avatarSiz {
    width: 62px;
    height: 61px;
}

// .chooseFileInput {
//     border: 1px solid rgba(0, 0, 0, 0.23);
//     padding: 10px;
//     background-color: #fafafa;
//     border-radius: 12px;
//     position: relative;

//     &::before {
//         border-bottom: none;
//     }

//     &::after {
//         border-bottom: none;
//     }

//     &:focused {
//         border-bottom: none;
//     }

//     &:hover {
//         &:not(.Mui-disabled) {
//             &:before {
//                 border-bottom: none;
//             }
//         }
//     }
// }

html,
body {
    // background: #181C1F !important;
}

.chooseFileInput {
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 10px;
    background-color: #fafafa;
    border-radius: 12px;
    position: relative;

    &::before {
        border-bottom: none;
    }

    &::after {
        border-bottom: none;
    }

    &:focused {
        border-bottom: none;
    }

    &:hover {
        &:not(.Mui-disabled) {
            &:before {
                border-bottom: none;
            }
        }
    }
}

.uploadIcon {
    position: absolute;
    top: 109px;
    left: 64px;
}

.fileError {
    color: #f44336;
    margin-left: 70px;
    margin-top: -12px;
}

.chooseFileError {
    color: #f44336;
    margin-left: 120px;
    margin-top: -12px;
}

.questionForm {
    width: 100%;
    padding: 10px 15px 10px;
}

.displayFlex {
    display: flex;
    overflow: hidden;
}

.displayText {
    white-space: nowrap;
    /* width: 100px; */
    overflow: hidden;
}

.audioPlayer {
    width: 250px;
    height: 44px;
    margin: 2px 2px 2px 0px;
}

.questionCardContent {
    padding-bottom: 0px !important;
}

.Signin {
    margin: -20px;
    font-size: 35px;
    color: #212121 !important;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    margin-bottom: 0.35em;
    color: #816a51 !important;
}

.signbutton {
    background-color: '#604223';
}

.signbutton:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: #9c6a36 !important;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.css-17m1lis-MuiTypography-root {
    margin: 0;
    font-size: 0.875rem;
    font-weight: 500;
    color: #212121 !important;
    font-family: 'Roboto', sans-serif;
    line-height: 1.75;
    color: #816a51 !important;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.css-1w5mzzj-MuiButtonBase-root-MuiButton-root:hover {
    background: #a57d54 !important;
    -webkit-text-decoration: none;
    text-decoration: none;
    // box-shadow: 0px 2px 4px -1px rgba(226, 173, 123, 0.2), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.section {
    background-color: 'red';
}

.filter {
    width: '110px';
    height: '50px';
    margin: '0 7px';
    background: '#604223';
}

.filter:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: 604223;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    background: #9c6a36 !important;
}

.css-12t3s33-MuiButtonBase-root-MuiButton-root:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: #9c6a36 !important;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.logouticont:hover {
    background-color: #ede7f6 !important;
    color: #9c6a36 !important;
}

.chip:hover {
    border-color: #2F5AFF !important;
    background: #2F5AFF !important;
    color: #e3f2fd !important;
}
.avatarStyle{
    
}
// .css-1pqm26d-MuiAvatar-img {
//     width: 100% !important;
//     height: 56px !important;
//     text-align: center;
//     object-fit: cover !important;
//     color: transparent;
//     background: transparent !important;
//     text-indent: 10000px;
// }
.css-1qed7u8-MuiButtonBase-root-MuiListItemButton-root:hover {
    color: #fff !important;
    background-color:rgba(47, 83, 255, 0.1411764706) !important;
}
.icons:hover {
    // background-color: #ede7f6 !important;
    // color: #9c6a36 !important;
}

.packageDescription {
    padding: 6px 0 0 0 !important;
    text-align: left !important;
    /* font-family: "Palatino Linotype"; */
    color: #978875;
    font-size: 15px;
    font-weight: 100;
}

.classic {
    color: '#978875';
}

.pricesubmit:hover {
    background-color: transparent;
    color: #212121;
}

.checkIconClassic {
    border: 1px solid #ffbd76 !important;
    color: #ffbd76;
    border-radius: 5px !important;

    width: 60%;
    margin-left: 35px;
}

.checkIconVIP {
    border: 1px solid #769bfc !important;
    color: #769bfc;
    border-radius: 5px !important;

    width: 60%;
    margin-left: 35px;
}

.checkIconClassicPlus {
    border: 1px solid #ea96da !important;
    color: #ea96da;
    border-radius: 5px !important;

    width: 60%;
    margin-left: 35px;
}

.checkIconVIPPlus {
    border: 1px solid #74ba54 !important;
    color: #74ba54;
    border-radius: 5px !important;

    width: 60%;
    margin-left: 35px;
}

.textClassic {
    color: #ffbd76;
    margin-top: -10px;
    border: 1px solid #ffbd76 !important;
    border-radius: 4px;
    padding: 4px 0;
    font-size: 11px;
}

.textVIP {
    color: #769bfc;
    margin-top: -10px;
    border: 1px solid #769bfc !important;
    border-radius: 4px;
    padding: 4px 0;
    font-size: 11px;
}

.textClassicPlus {
    color: #ea96da;
    margin-top: -10px;
    border: 1px solid #ea96da !important;
    border-radius: 4px;
    padding: 4px 0;
    font-size: 11px;
}

.textVIPPlus {
    color: #74ba54;
    margin-top: -10px;
    border: 1px solid #74ba54 !important;
    border-radius: 4px;
    padding: 4px 0;
    font-size: 11px;
}

.Classic {
    color: #ffbd76;
    // border-bottom: 4px solid;
    // width: 50px;
}

.VIP {
    color: #769bfc;
}

.ClassicPlus {
    color: #ea96da;
}

.VIPPlus {
    color: #74ba54;
}

.submit:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #212121;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    background: transparent;
}

.submitClassic {
    width: 100%;
    margin: 0;
    background-color: #ffbd76;
}

.submitCplus {
    width: 100%;
    margin: 0;
    background-color: #ea96da;
}

.submitVIP {
    width: 100%;
    margin: 0;
    background-color: #769bfc;
}

.submitVplus {
    width: 100%;
    margin: 0;
    background-color: #74ba54;
}

// ===========================================================================================================>
// ===========================================================================================================>
.mainBackground {
    // background-color: #212121;
    min-height: auto;
    width: 99%;
    background-image: url(../images/background1.png);
    background-position: center;
    background-size: cover;
    margin-top: 15px;
}

.create {
    background: linear-gradient(138.3deg, #2f53ff -0.85%, #2fc1ff 131.63%);
    padding: 10px 32px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #ffffff;
}

.pbackground {
    font-family: 'Public Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
text-transform: capitalize;

color: #2194FF;

}

.Lux {
    text-transform: capitalize;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;

    text-align: left;

    padding: 0 15px;
}

.nftHead {
    font-family: 'Poppins' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;

    text-align: left;
}

.nftText {
    font-family: 'Poppins' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #2f53ff !important;
    text-align: left;
}

.productdescription {
    // font-family: 'Public Sans';
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    display: flex;
    /* align-items: center; */
    letter-spacing: 0.02em;
    
    text-transform: capitalize;

    text-align: left;
  
    padding: 0 15px;
    color: #9498aa;
}

.select {
    border-radius: 4px !important;
    padding: 0 17px;
    text-align: left;
}
.textfield {
    text-decoration: none !important;
}

.buy {
    background: linear-gradient(138.3deg, #2f53ff -0.85%, #2fc1ff 131.63%);
    border-radius: 4px;
    width: 90%;
    margin-right: 15px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    margin-right: 15px;
}
.sel {
    background: transparent;
    border-radius: 4px;
    width: 90%;

    margin-right: 15px;
}

.price {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    text-transform: capitalize;
}

.ETH {
    color: darkorange;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.timer {
    padding: 20px 20px 20px 34px !important;
}

.auction {
    padding: 15px 36px;
  
        border-radius: 4px;
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
}
#proofstyle{
    font-family: 'Public Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
/* identical to box height */

text-align: center;
text-transform: capitalize;
}
.overflow {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    /* border: 1px solid; */
    text-overflow: ellipsis;
}
.line {
    background: #ccc;
    width: 5px;
    height: 420px;
    color: transparent;

    margin-top: 13px;
    margin-left: 36px;
    border-radius: 20px;
}
.text {
    font-weight: 700;
    font-size: 22px;
    text-transform: capitalize;
}

.creator {
    font-weight: 400;
    font-size: 17px;
}

.list {
    display: flex;
}

.item {
    margin-right: 30px;
    list-style: none;
}

.itemstyle {
    margin-right: 30px;
}

.para {
    font-weight: 300;
    font-size: 17px;
}

.signInMarket {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    /* identical to box height, or 30px */

    text-align: center;
}

.signbuttonMarket {
    background: linear-gradient(138.3deg, #2f53ff -0.85%, #2fc1ff 131.63%);
    border-radius: 4px;
    color: #fff;
}

.brandDialog {
    .MuiDialog-paper {
        width: 100%;
        max-height: 570px;
    }

    @media only screen and (min-width: 320px) and (max-width: 480px) {
        .MuiDialog-paper {
            width: 100%;
            max-height: 530px;
        }
    }
}
.adminDialog {
    .MuiDialog-paper {
        width: 100%;
        max-height: 685px;
       
        border-radius: 2px !important;
    }

    @media only screen and (min-width: 320px) and (max-width: 480px) {
        .MuiDialog-paper {
            width: 100%;
            max-height: 530px;
        }
    }
}
.createDialog {
    .MuiDialog-paper {
        width: 100%;
        max-height: 575px;
       
        border-radius: 2px !important;
    }

    @media only screen and (min-width: 320px) and (max-width: 480px) {
        .MuiDialog-paper {
            width: 100%;
            max-height: 530px;
        }
    }
}
.field{
 background-color: transparent;
    margin-top: -6px !important;
}
.inputPadding{
    padding: 0px !important;
}
.categoryDialog {
    width: 77%;
}

.responsiveSelectfield {
    @media only screen and (min-width: 320px) and (max-width: 480px) {
        .css-1ku04m1-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
            width: '50%';
        }
    }
}

.list {
    margin: 12px;
}

.listItem {
    border: solid 1px rgba(145, 158, 171, 0.24);
    margin: 8px 0px;
    padding: 4px 16px;
    border-radius: 8px;
    background-color: #fff;
}

.quantityField {
    width: 100px;

    & .css-4pzdr3-MuiInputBase-input-MuiOutlinedInput-input {
        height: 0.8375em;
    }
}

.slider {
    background-color: transparent;
    height: 330px;
    width: 95%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    color: #212121;
}
.catigaryslider {
    background-color: transparent;
    height: 198px;
    width: 95%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    color: #212121;
}

.sliderBrand {
    background-color: transparent;
    height: 250px;
    width: 95%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    color: #212121;
}
.noData {
    font-size: 18px;
    font-weight: 400px;
    margin-left: 50px;
    color: #f44336;
}

.noDataNew {
    font-size: 18px;
    font-weight: 400px;
    margin-left: 82px;
    color: #f44336;
}
.noDatacat {
    font-size: 18px;
    font-weight: 400px;
    margin-left: 68px;
    color: #f44336;
}
.NFTdetails {
    overflow: hidden;
    padding: 10px;
    height: 325px;
}
.Productdetails {
    overflow: hidden;
}
.deliveryimageSize {
    width: 100%;

    height: 350px;
    object-fit: cover;
}
.ProductimageSize {
    width: 100%;

    height: 410px;
    object-fit: cover;
}
.imageSize {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.userName {
    font-size: 20px;
    color: #2196f3;
    font-weight: 600;
    text-transform: capitalize;
}
.brand {
    font-size: 21px;
    color: #2196f3;
    text-transform: capitalize;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
}
.creator {
    margin-top: 7px;
    color: #CDCDCD;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
}
// #################################################################
.tableName {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    border-bottom: none;

    color: #98a2b2;
    margin: 9px 0px 0 7px !important;
}
.tablecell {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
    font-weight: 500;

    color: #98a2b2;
    margin: 0px 0px 0 0px !important;
}
.Tableheading {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 19px !important;
}
.color {
    color: #2f53ff;
}
.tableShadow {
    box-shadow: 0px 4px 15px rgb(0 0 0 / 25%) !important;

    border-radius: 5px !important;
}
.propertyShadow {
    box-shadow: 0px 4px 15px rgb(0 0 0 / 25%) !important;
    border-radius: 5px !important;
    border-color: #2f53ff !important;
}
.tableShadow {
    box-shadow: 0px 4px 15px rgb(0 0 0 / 25%) !important;
    border-radius: 5px !important;
}
.mainheading {
    font-weight: 600 !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-size: 27px !important;
}
.headingcard {
    font-weight: 600;
    font-family: 'Poppins';
    font-style: normal;
    background-color: transparent;
}
.buttonSize {
    padding: 7px 28px !important;

    font-family: 'Poppins';
    font-style: normal;
    // padding:7px 29px !important;

    // margin-left:10px !important;
}
.Adminheading {
    background-color: transparent;
    border: none !important ;
}
.stylingtitle {
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    // font-size: 16px;
    letter-spacing: 0.5px;
}
.sidebartitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    // font-size: 16px;
    letter-spacing: 0.5px;
}
.css-bpi7ug-MuiButtonBase-root-MuiListItemButton-root.Mui-selected .MuiListItemIcon-root {
    color: #2f53ff !important;
}

.css-908h34-MuiTypography-root {
    margin: 0;
    font-size: 0.875rem;
    color: #212121;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    line-height: 1.334;
    color: #2f53ff !important;
}
.adminname {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
}
.dialog {
    width: 27% !important;
    margin: 0 auto;
    // border: 2px solid red;
   
 
}
@media only screen and (min-width:  0px) and (max-width:  600px) {
    .dialog {
       
        width: 100% !important;
        max-height: 530px;
    }
}
@media only screen and (min-width:  600px) and (max-width:  1200px) {
    .dialog {
       
        width: 50% !important;
        max-height: 530px;
    }
}
@media only screen and (min-width:  600px) and (max-width:  900px) {
    .dialog {
       
        width: 50% !important;
        max-height: 530px;
    }
}
@media only screen and (min-width:  900px) and (max-width:  1199px) {
    .dialog {
       
        width: 40% !important;
        max-height: 530px;
    }
}

@media only screen and (min-width:  1200px) and (max-width: 1350px) {
    .dialog {
       
        width: 35% !important;
        max-height: 530px;
    }
}

.Nftdialog {
    width: 100% !important;
    margin: 0 auto;
}
.buttons {
    justify-content: center;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.textfieldStyle {
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 19px !important;
    /* line-height: 29px; */
    color: #757575 !important;
}
.statustypo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
}
.statusHeading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
}
.css-c0hsol-MuiTypography-root {
    margin: 0;
    font-size: 0.875rem;

    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    /* line-height: 1.334; */
    margin-top: 24px;
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 19px !important;
    /* line-height: 29px; */
    color: #757575 !important;
}
.css-ix00ao-MuiInputBase-input-MuiInput-input {
    font: inherit;
    letter-spacing: inherit;
    color: currentColor;
    padding: 4px 0 5px;
    border: 0;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    width: 100%;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;

    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    /* line-height: 29px; */
    color: #757575 !important;
}

.menustyle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14.4545px;
    /* line-height: 22px; */
    /* display: flex; */
    align-items: center;
    color: #7778c2 !important;
}
.selectstyle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14.4545px;
    /* line-height: 22px; */
    /* display: flex; */
    align-items: center;
    color: #2f53ff !important;
    border: 2px solid #b9ddff;
    padding: 11px 10px 0 10px;
    border-radius: 4px;
}
.nftButtons {
    padding: 7px 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    /* font-size: 19.0507px; */

    border-radius: 4px;
}
.lazyButtons {
    padding: 7px 34px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    /* font-size: 19.0507px; */

    border-radius: 4px;
}
.fieldbutton {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background: linear-gradient(97.63deg, #2f57ff 0%, #2fa3ff 108.45%);
    border-radius: 4px;
}
.fontstyling {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}
.assignheading {
    font-weight: 600;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 25px;
}
.css-17c4ftt {
    background: #fff9f9 !important;
}
.encap {
    white-space: nowrap;
    width: 50px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}
.encapPropertry {
    text-align: center;
    white-space: nowrap;
    width: auto !important;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
}
.dialog_details {
    height: 520px;
}
.prdpadding {
    padding: 10px 8px 0 25px !important;
}
// .css-bpi7ug-MuiButtonBase-root-MuiListItemButton-root.Mui-selected:hover {
//     background-color: transparent !important;

//     border-right: 10px solid #2f53ff !important;
// }
.circul {
    color: #fff !important;
    width: 35px !important;
    height: 35px !important;
}

.nsm7Bb-HzV7m-LgbsSe {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color .218s,border-color .218s;
    transition: background-color .218s,border-color .218s;
    -webkit-user-select: none;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dadce0;
    color: #3c4043;
    cursor: pointer;
    font-family: "Google Sans",arial,sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 23px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 50% !important;
    /* padding: 20px; */
    margin: 0 auto !important;
   
}
.css-hjvw11-MuiButtonBase-root-MuiListItemButton-root.Mui-selected .MuiListItemIcon-root {
    color: #2F53FF !important;
}
.css-dj8axb-MuiTypography-root {
    margin: 0;
    font-size: 0.875rem;
    color: #d7dcec;
    font-weight: 500;
    font-family: 'Roboto',sans-serif;
    line-height: 1.334;
    color: #2F53FF !important;
   
}
.css-hjvw11-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
    color: #2F53FF !important;
    background-color: transparent !important;
}
.css-hjvw11-MuiButtonBase-root-MuiListItemButton-root:hover {
    background-color: #2f53ff24 !important;
    color: #2F53FF !important;
}
.fontfigma{
    font-family: 'Public Sans' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 22px !important;
    line-height: 26px !important;

}
.centerText{
    
font-family: 'Public Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
text-transform: capitalize;

}
.productfigmastyl{
    font-family: 'Public Sans' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 24px !important;
    line-height: 28px !important;
    /* text-align: center; */
    text-transform: capitalize !important;
  
}
.plight{
    font-family: 'Public Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 14px !important;
    text-align: center !important;
    text-transform: capitalize !important;
    color: #CDCDCD !important;
}
.MuiInputBase-input {
    font: inherit;
    // color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
    color: white !important;
}
