@import '~react-perfect-scrollbar/dist/css/styles.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
:export {
  paper: #ffffff;
  primaryLight: #e3f2fd;
  primary200: #90caf9;
  primaryMain: #2196f3;
  primaryDark: #1e88e5;
  primary800: #1565c0;
  secondaryLight: #ede7f6;
  secondary200: #b39ddb;
  secondaryMain: #673ab7;
  secondaryDark: #5e35b1;
  secondary800: #4527a0;
  successLight: #b9f6ca;
  success200: #69f0ae;
  successMain: #00e676;
  successDark: #00c853;
  errorLight: #ef9a9a;
  errorMain: #f44336;
  errorDark: #c62828;
  orangeLight: #fbe9e7;
  orangeMain: #ffab91;
  orangeDark: #d84315;
  warningLight: #fff8e1;
  warningMain: #ffe57f;
  warningDark: #ffc107;
  grey50: #fafafa;
  grey100: #f5f5f5;
  grey200: #eeeeee;
  grey300: #e0e0e0;
  grey500: #9e9e9e;
  grey600: #757575;
  grey700: #616161;
  grey900: #212121;
  darkPaper: #111936;
  darkBackground: #1a223f;
  darkLevel1: #29314f;
  darkLevel2: #212946;
  darkTextTitle: #d7dcec;
  darkTextPrimary: #bdc8f0;
  darkTextSecondary: #8492c4;
  darkPrimaryLight: #e3f2fd;
  darkPrimaryMain: #2196f3;
  darkPrimaryDark: #1e88e5;
  darkPrimary200: #90caf9;
  darkPrimary800: #1565c0;
  darkSecondaryLight: #d1c4e9;
  darkSecondaryMain: #7c4dff;
  darkSecondaryDark: #651fff;
  darkSecondary200: #b39ddb;
  darkSecondary800: #6200ea;
}

.slick-arrow:before {
  color: #9e9e9e;
}

.fullscreen .react-images__blanket {
  z-index: 1200;
}

.apexcharts-legend-series .apexcharts-legend-marker {
  margin-right: 8px;
}

.scrollbar-container .ps__rail-y:hover > .ps__thumb-y, .scrollbar-container .ps__rail-y:focus > .ps__thumb-y, .scrollbar-container .ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #9e9e9e;
  width: 5px;
}
.scrollbar-container .ps__thumb-y {
  background-color: #9e9e9e;
  border-radius: 6px;
  width: 5px;
  right: 0;
}

.responsiveDialog {
  z-index: 2000;
}
.responsiveDialog .MuiDialog-paper {
  width: 100%;
  max-height: 435px;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .responsiveDialog .MuiDialog-paper {
    width: 100%;
    max-height: 435px;
  }
}

.scrollbar-container.ps.ps--active-y > .ps__rail-y,
.scrollbar-container > .ps.ps--active-y > .ps__rail-y {
  width: 5px;
  background-color: transparent !important;
  z-index: 999;
}
.scrollbar-container.ps.ps--active-y > .ps__rail-y:hover, .scrollbar-container.ps.ps--active-y > .ps__rail-y.ps--clicking,
.scrollbar-container > .ps.ps--active-y > .ps__rail-y:hover,
.scrollbar-container > .ps.ps--active-y > .ps__rail-y.ps--clicking {
  width: 5px;
  background-color: transparent;
}
.scrollbar-container.ps.ps--scrolling-y > .ps__rail-y, .scrollbar-container.ps.ps--scrolling-x > .ps__rail-x,
.scrollbar-container > .ps.ps--scrolling-y > .ps__rail-y,
.scrollbar-container > .ps.ps--scrolling-x > .ps__rail-x {
  opacity: 0.4;
  background-color: transparent;
}

@-webkit-keyframes wings {
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes wings {
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 53%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -7px, 0);
  }
  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  90% {
    transform: translate3d(0, -2px, 0);
  }
}
@keyframes bounce {
  0%, 20%, 53%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -7px, 0);
  }
  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  90% {
    transform: translate3d(0, -2px, 0);
  }
}
@-webkit-keyframes slideY {
  0%, 50%, 100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
}
@keyframes slideY {
  0%, 50%, 100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
}
@-webkit-keyframes slideX {
  0%, 50%, 100% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
}
@keyframes slideX {
  0%, 50%, 100% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
}
.upload {
  position: relative;
}

.uploadIcon {
  margin-top: 50%;
  margin-left: 40%;
}

.avatarSiz {
  width: 62px;
  height: 61px;
}

html,
body {
  background: #f5f5f5 !important;
}

.chooseFileInput {
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 10px;
  background-color: #fafafa;
  border-radius: 12px;
  position: relative;
}
.chooseFileInput::before {
  border-bottom: none;
}
.chooseFileInput::after {
  border-bottom: none;
}
.chooseFileInput:focused {
  border-bottom: none;
}
.chooseFileInput:hover:not(.Mui-disabled):before {
  border-bottom: none;
}

.uploadIcon {
  position: absolute;
  top: 109px;
  left: 64px;
}

.fileError {
  color: #f44336;
  margin-left: 70px;
  margin-top: -12px;
}

.chooseFileError {
  color: #f44336;
  margin-left: 120px;
  margin-top: -12px;
}

.questionForm {
  width: 100%;
  padding: 10px 15px 10px;
}

.displayFlex {
  display: flex;
  overflow: hidden;
}

.displayText {
  white-space: nowrap;
  /* width: 100px; */
  overflow: hidden;
}

.audioPlayer {
  width: 250px;
  height: 44px;
  margin: 2px 2px 2px 0px;
}

.questionCardContent {
  padding-bottom: 0px !important;
}

.Signin {
  margin: -20px;
  font-size: 35px;
  color: #212121 !important;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  margin-bottom: 0.35em;
  color: #816a51 !important;
}

.signbutton {
  background-color: "#604223";
}

.signbutton:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: #9c6a36 !important;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.css-17m1lis-MuiTypography-root {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 500;
  color: #212121 !important;
  font-family: "Roboto", sans-serif;
  line-height: 1.75;
  color: #816a51 !important;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.css-1w5mzzj-MuiButtonBase-root-MuiButton-root:hover {
  background: #a57d54 !important;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.section {
  background-color: "red";
}

.filter {
  width: "110px";
  height: "50px";
  margin: "0 7px";
  background: "#604223";
}

.filter:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: 604223;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background: #9c6a36 !important;
}

.css-12t3s33-MuiButtonBase-root-MuiButton-root:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: #9c6a36 !important;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.logouticont:hover {
  background-color: #ede7f6 !important;
  color: #9c6a36 !important;
}

.chip:hover {
  border-color: #604223 !important;
  background: #604223 !important;
  color: #e3f2fd !important;
}

.packageDescription {
  padding: 6px 0 0 0 !important;
  text-align: left !important;
  /* font-family: "Palatino Linotype"; */
  color: #978875;
  font-size: 15px;
  font-weight: 100;
}

.classic {
  color: "#978875";
}

.pricesubmit:hover {
  background-color: transparent;
  color: #212121;
}

.checkIconClassic {
  border: 1px solid #ffbd76 !important;
  color: #ffbd76;
  border-radius: 5px !important;
  width: 60%;
  margin-left: 35px;
}

.checkIconVIP {
  border: 1px solid #769bfc !important;
  color: #769bfc;
  border-radius: 5px !important;
  width: 60%;
  margin-left: 35px;
}

.checkIconClassicPlus {
  border: 1px solid #ea96da !important;
  color: #ea96da;
  border-radius: 5px !important;
  width: 60%;
  margin-left: 35px;
}

.checkIconVIPPlus {
  border: 1px solid #74ba54 !important;
  color: #74ba54;
  border-radius: 5px !important;
  width: 60%;
  margin-left: 35px;
}

.textClassic {
  color: #ffbd76;
  margin-top: -10px;
  border: 1px solid #ffbd76 !important;
  border-radius: 4px;
  padding: 4px 0;
  font-size: 11px;
}

.textVIP {
  color: #769bfc;
  margin-top: -10px;
  border: 1px solid #769bfc !important;
  border-radius: 4px;
  padding: 4px 0;
  font-size: 11px;
}

.textClassicPlus {
  color: #ea96da;
  margin-top: -10px;
  border: 1px solid #ea96da !important;
  border-radius: 4px;
  padding: 4px 0;
  font-size: 11px;
}

.textVIPPlus {
  color: #74ba54;
  margin-top: -10px;
  border: 1px solid #74ba54 !important;
  border-radius: 4px;
  padding: 4px 0;
  font-size: 11px;
}

.Classic {
  color: #ffbd76;
}

.VIP {
  color: #769bfc;
}

.ClassicPlus {
  color: #ea96da;
}

.VIPPlus {
  color: #74ba54;
}

.submit:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #212121;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background: transparent;
}

.submitClassic {
  width: 100%;
  margin: 0;
  background-color: #ffbd76;
}

.submitCplus {
  width: 100%;
  margin: 0;
  background-color: #ea96da;
}

.submitVIP {
  width: 100%;
  margin: 0;
  background-color: #769bfc;
}

.submitVplus {
  width: 100%;
  margin: 0;
  background-color: #74ba54;
}

.mainBackground {
  min-height: 100vh;
  width: 99%;
  background-image: url(../images/background1.png);
  background-position: center;
  background-size: cover;
  margin-top: 15px;
}

.create {
  background: linear-gradient(138.3deg, #2f53ff -0.85%, #2fc1ff 131.63%);
  padding: 8px 32px;
}

.pbackground {
  color: #2194ff;
  font-weight: 600;
}

.Lux {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: left;
  padding: 0 15px;
}

.nftHead {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  text-align: left;
}

.nftText {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
}

.productdescription {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  text-align: left;
  letter-spacing: 0.02em;
  padding: 0 15px;
  color: #9498aa;
}

.select {
  border-radius: 4px !important;
  padding: 0 17px;
  text-align: left;
}

.buy {
  background: linear-gradient(138.3deg, #2f53ff -0.85%, #2fc1ff 131.63%);
  border-radius: 4px;
  width: 90%;
  margin-right: 15px;
}

.sel {
  background: transparent;
  border-radius: 4px;
  width: 90%;
  margin-right: 15px;
}

.price {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
}

.ETH {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.timer {
  padding: 20px 20px 20px 34px !important;
}

.auction {
  padding: 12px 32px;
  background: #d9d9d9;
  border-radius: 4px;
}

.overflow {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  /* border: 1px solid; */
  text-overflow: ellipsis;
}

.text {
  font-weight: 700;
  font-size: 22px;
}

.creator {
  font-weight: 400;
  font-size: 17px;
}

.list {
  display: flex;
}

.item {
  margin-right: 30px;
  list-style: none;
}

.itemstyle {
  margin-right: 30px;
}

.para {
  font-weight: 300;
  font-size: 17px;
}

.signInMarket {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  /* identical to box height, or 30px */
  text-align: center;
}

.signbuttonMarket {
  background: linear-gradient(138.3deg, #2f53ff -0.85%, #2fc1ff 131.63%);
  border-radius: 4px;
  color: #fff;
}

.brandDialog .MuiDialog-paper {
  width: 100%;
  max-height: 570px;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .brandDialog .MuiDialog-paper {
    width: 100%;
    max-height: 530px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .responsiveSelectfield .css-1ku04m1-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    width: "50%";
  }
}

.list {
  margin: 12px;
}

.listItem {
  border: solid 1px rgba(145, 158, 171, 0.24);
  margin: 8px 0px;
  padding: 4px 16px;
  border-radius: 8px;
  background-color: #fff;
}

.quantityField {
  width: 100px;
}
.quantityField .css-4pzdr3-MuiInputBase-input-MuiOutlinedInput-input {
  height: 0.8375em;
}

.slider {
  background-color: transparent;
  height: 330px;
  width: 95%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  color: #212121;
}

.catigaryslider {
  background-color: transparent;
  height: 198px;
  width: 95%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  color: #212121;
}

.sliderBrand {
  background-color: transparent;
  height: 250px;
  width: 95%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  color: #212121;
}

.noData {
  font-size: 18px;
  font-weight: 400px;
  margin-left: 50px;
}

.noDataNew {
  font-size: 18px;
  font-weight: 400px;
  margin-left: 82px;
}

.noDatacat {
  font-size: 18px;
  font-weight: 400px;
  margin-left: 68px;
}

.NFTdetails {
  overflow: hidden;
  padding: 10px;
  height: 325px;
}

.Productdetails {
  overflow: hidden;
}

.ProductimageSize {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

.imageSize {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */