@import '~react-perfect-scrollbar/dist/css/styles.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
:export {
  paper: #ffffff;
  primaryLight: #e3f2fd;
  primary200: #90caf9;
  primaryMain: #2196f3;
  primaryDark: #1e88e5;
  primary800: #1565c0;
  secondaryLight: #ede7f6;
  secondary200: #b39ddb;
  secondaryMain: #673ab7;
  secondaryDark: #5e35b1;
  secondary800: #4527a0;
  successLight: #b9f6ca;
  success200: #69f0ae;
  successMain: #00e676;
  successDark: #00c853;
  errorLight: #ef9a9a;
  errorMain: #f44336;
  errorDark: #c62828;
  orangeLight: #fbe9e7;
  orangeMain: #ffab91;
  orangeDark: #d84315;
  warningLight: #fff8e1;
  warningMain: #ffe57f;
  warningDark: #ffc107;
  grey50: #fafafa;
  grey100: #f5f5f5;
  grey200: #eeeeee;
  grey300: #e0e0e0;
  grey500: #9e9e9e;
  grey600: #757575;
  grey700: #616161;
  grey900: #212121;
  darkPaper: #111936;
  darkBackground: #1a223f;
  darkLevel1: #29314f;
  darkLevel2: #212946;
  darkTextTitle: #d7dcec;
  darkTextPrimary: #bdc8f0;
  darkTextSecondary: #8492c4;
  darkPrimaryLight: #e3f2fd;
  darkPrimaryMain: #2196f3;
  darkPrimaryDark: #1e88e5;
  darkPrimary200: #90caf9;
  darkPrimary800: #1565c0;
  darkSecondaryLight: #d1c4e9;
  darkSecondaryMain: #7c4dff;
  darkSecondaryDark: #651fff;
  darkSecondary200: #b39ddb;
  darkSecondary800: #6200ea;
}

.slick-arrow:before {
  color: #9e9e9e;
}

.fullscreen .react-images__blanket {
  z-index: 1200;
}

.apexcharts-legend-series .apexcharts-legend-marker {
  margin-right: 8px;
}

.scrollbar-container .ps__rail-y:hover > .ps__thumb-y, .scrollbar-container .ps__rail-y:focus > .ps__thumb-y, .scrollbar-container .ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #9e9e9e;
  width: 5px;
}
.scrollbar-container .ps__thumb-y {
  background-color: #9e9e9e;
  border-radius: 6px;
  width: 5px;
  right: 0;
}

.responsiveDialog {
  z-index: 2000;
}
.responsiveDialog .MuiDialog-paper {
  width: 100%;
  max-height: 435px;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .responsiveDialog .MuiDialog-paper {
    width: 100%;
    max-height: 435px;
  }
}

.scrollbar-container.ps.ps--active-y > .ps__rail-y,
.scrollbar-container > .ps.ps--active-y > .ps__rail-y {
  width: 5px;
  background-color: transparent !important;
  z-index: 999;
}
.scrollbar-container.ps.ps--active-y > .ps__rail-y:hover, .scrollbar-container.ps.ps--active-y > .ps__rail-y.ps--clicking,
.scrollbar-container > .ps.ps--active-y > .ps__rail-y:hover,
.scrollbar-container > .ps.ps--active-y > .ps__rail-y.ps--clicking {
  width: 5px;
  background-color: transparent;
}
.scrollbar-container.ps.ps--scrolling-y > .ps__rail-y, .scrollbar-container.ps.ps--scrolling-x > .ps__rail-x,
.scrollbar-container > .ps.ps--scrolling-y > .ps__rail-y,
.scrollbar-container > .ps.ps--scrolling-x > .ps__rail-x {
  opacity: 0.4;
  background-color: transparent;
}

@keyframes wings {
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounce {
  0%, 20%, 53%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -7px, 0);
  }
  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  90% {
    transform: translate3d(0, -2px, 0);
  }
}
@keyframes slideY {
  0%, 50%, 100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
}
@keyframes slideX {
  0%, 50%, 100% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
}
.upload {
  position: relative;
}

.uploadIcon {
  margin-top: 50%;
  margin-left: 40%;
}

.avatarSiz {
  width: 62px;
  height: 61px;
}

.chooseFileInput {
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 10px;
  background-color: #fafafa;
  border-radius: 12px;
  position: relative;
}
.chooseFileInput::before {
  border-bottom: none;
}
.chooseFileInput::after {
  border-bottom: none;
}
.chooseFileInput:focused {
  border-bottom: none;
}
.chooseFileInput:hover:not(.Mui-disabled):before {
  border-bottom: none;
}

.uploadIcon {
  position: absolute;
  top: 109px;
  left: 64px;
}

.fileError {
  color: #f44336;
  margin-left: 70px;
  margin-top: -12px;
}

.chooseFileError {
  color: #f44336;
  margin-left: 120px;
  margin-top: -12px;
}

.questionForm {
  width: 100%;
  padding: 10px 15px 10px;
}

.displayFlex {
  display: flex;
  overflow: hidden;
}

.displayText {
  white-space: nowrap;
  /* width: 100px; */
  overflow: hidden;
}

.audioPlayer {
  width: 250px;
  height: 44px;
  margin: 2px 2px 2px 0px;
}

.questionCardContent {
  padding-bottom: 0px !important;
}

.Signin {
  margin: -20px;
  font-size: 35px;
  color: #212121 !important;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.35em;
}

.signbutton {
  background-color: "#604223";
}

.signbutton:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: #9c6a36 !important;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.css-17m1lis-MuiTypography-root {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 500;
  color: #212121 !important;
  font-family: "Roboto", sans-serif;
  line-height: 1.75;
  color: #816a51 !important;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.css-1w5mzzj-MuiButtonBase-root-MuiButton-root:hover {
  background: #a57d54 !important;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.section {
  background-color: "red";
}

.filter {
  width: "110px";
  height: "50px";
  margin: "0 7px";
  background: "#604223";
}

.filter:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: 604223;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background: #9c6a36 !important;
}

.css-12t3s33-MuiButtonBase-root-MuiButton-root:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: #9c6a36 !important;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.logouticont:hover {
  background-color: #ede7f6 !important;
  color: #9c6a36 !important;
}

.chip:hover {
  border-color: #2f5aff !important;
  background: #2f5aff !important;
  color: #e3f2fd !important;
}

.css-1qed7u8-MuiButtonBase-root-MuiListItemButton-root:hover {
  color: #fff !important;
  background-color: rgba(47, 83, 255, 0.1411764706) !important;
}

.packageDescription {
  padding: 6px 0 0 0 !important;
  text-align: left !important;
  /* font-family: "Palatino Linotype"; */
  color: #978875;
  font-size: 15px;
  font-weight: 100;
}

.classic {
  color: "#978875";
}

.pricesubmit:hover {
  background-color: transparent;
  color: #212121;
}

.checkIconClassic {
  border: 1px solid #ffbd76 !important;
  color: #ffbd76;
  border-radius: 5px !important;
  width: 60%;
  margin-left: 35px;
}

.checkIconVIP {
  border: 1px solid #769bfc !important;
  color: #769bfc;
  border-radius: 5px !important;
  width: 60%;
  margin-left: 35px;
}

.checkIconClassicPlus {
  border: 1px solid #ea96da !important;
  color: #ea96da;
  border-radius: 5px !important;
  width: 60%;
  margin-left: 35px;
}

.checkIconVIPPlus {
  border: 1px solid #74ba54 !important;
  color: #74ba54;
  border-radius: 5px !important;
  width: 60%;
  margin-left: 35px;
}

.textClassic {
  color: #ffbd76;
  margin-top: -10px;
  border: 1px solid #ffbd76 !important;
  border-radius: 4px;
  padding: 4px 0;
  font-size: 11px;
}

.textVIP {
  color: #769bfc;
  margin-top: -10px;
  border: 1px solid #769bfc !important;
  border-radius: 4px;
  padding: 4px 0;
  font-size: 11px;
}

.textClassicPlus {
  color: #ea96da;
  margin-top: -10px;
  border: 1px solid #ea96da !important;
  border-radius: 4px;
  padding: 4px 0;
  font-size: 11px;
}

.textVIPPlus {
  color: #74ba54;
  margin-top: -10px;
  border: 1px solid #74ba54 !important;
  border-radius: 4px;
  padding: 4px 0;
  font-size: 11px;
}

.Classic {
  color: #ffbd76;
}

.VIP {
  color: #769bfc;
}

.ClassicPlus {
  color: #ea96da;
}

.VIPPlus {
  color: #74ba54;
}

.submit:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #212121;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background: transparent;
}

.submitClassic {
  width: 100%;
  margin: 0;
  background-color: #ffbd76;
}

.submitCplus {
  width: 100%;
  margin: 0;
  background-color: #ea96da;
}

.submitVIP {
  width: 100%;
  margin: 0;
  background-color: #769bfc;
}

.submitVplus {
  width: 100%;
  margin: 0;
  background-color: #74ba54;
}

.mainBackground {
  min-height: auto;
  max-height: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 455px;
  width: 99%;
  background-image: url(../images/background1.png);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  margin-top: 14px;
  border-radius: 4px;
}

.TextField-without-border-radius fieldset {
  border-radius: 4px;
}

.TextField-without-border-radius input {
  border-radius: 4px;
}

.TextField-without-border-radius OutlinedInput {
  border-radius: 4px;
}

.create {
  background: linear-gradient(138.3deg, #2f53ff -0.85%, #2fc1ff 131.63%);
  padding: 13px 32px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #ffffff;
}

.pbackground {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;
  color: #2194ff;
}

.Lux {
  text-transform: capitalize;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-align: left;
  padding: 0 15px;
}

.nftHead {
  font-family: "Poppins" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  text-align: left;
}

.nftText {
  font-family: "Poppins" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #2f53ff !important;
  text-align: left;
}

.productdescription {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  display: flex;
  /* align-items: center; */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: left;
  padding: 0 15px;
  color: #9498aa;
}

.select {
  border-radius: 4px !important;
  padding: 0 17px;
  text-align: left;
}

.textfield {
  text-decoration: none !important;
}

.iconvisible {
  position: absolute;
  top: 19px;
  right: 13px;
}

.textForm {
  position: relative;
}

.auth-formcontrol {
  margin-top: -10px !important;
}

.auth-formcontrol input {
  color: gray !important;
}

.authFont {
  font-family: "Source Sans Pro" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 20px !important;
}

.buy {
  background: linear-gradient(138.3deg, #2f53ff -0.85%, #2fc1ff 131.63%);
  border-radius: 4px;
  width: 90%;
  margin-right: 15px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-right: 15px;
}

.sel {
  background: transparent;
  border-radius: 4px;
  width: 90%;
  margin-right: 15px;
}

.Forgot {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.price {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  text-transform: capitalize;
}

.ETH {
  color: darkorange;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.timer {
  padding: 20px 20px 20px 34px !important;
}

.auction {
  padding: 15px 36px;
  border-radius: 4px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

#proofstyle {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
}

.overflow {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  /* border: 1px solid; */
  text-overflow: ellipsis;
}

.line {
  background: #ccc;
  width: 5px;
  height: 420px;
  color: transparent;
  margin-top: 13px;
  margin-left: 36px;
  border-radius: 20px;
}

.text {
  font-size: 22px;
  text-transform: capitalize;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
}

.creator {
  font-weight: 400;
  font-size: 17px;
}

.list {
  display: flex;
}

.item {
  margin-right: 30px;
  list-style: none;
}

.itemstyle {
  margin-right: 30px;
}

.para {
  font-weight: 300;
  font-size: 17px;
}

.account-style {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #9498AA;
  text-align: center;
}

.signInMarket {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  font-family: "Public Sans";
  font-style: normal;
  /* identical to box height, or 30px */
  text-align: center;
}

.emailfont {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
}

.signbuttonMarket {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  background: linear-gradient(138.3deg, #2f53ff -0.85%, #2fc1ff 131.63%);
  border-radius: 4px;
  color: #fff;
}

.brandDialog .MuiDialog-paper {
  width: 100%;
  max-height: 570px;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .brandDialog .MuiDialog-paper {
    width: 100%;
    max-height: 530px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 900px) {
  .mainBackground {
    height: auto !important;
    width: 99%;
    background-image: url(../images/background1.png);
    background-position: center;
    background-size: cover;
    margin-top: 15px;
    margin-left: 0 !important;
  }
}
.adminDialog .MuiDialog-paper {
  width: 100%;
  max-height: 685px;
  border-radius: 2px !important;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .adminDialog .MuiDialog-paper {
    width: 100%;
    max-height: 530px;
  }
}

.createDialog .MuiDialog-paper {
  width: 100%;
  max-height: 575px;
  border-radius: 2px !important;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .createDialog .MuiDialog-paper {
    width: 100%;
    max-height: 530px;
  }
}

.field {
  background-color: transparent;
  margin-top: -6px !important;
}

.inputPadding {
  padding: 0px !important;
}

.categoryDialog {
  width: 77%;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .responsiveSelectfield .css-1ku04m1-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    width: "50%";
  }
}

.list {
  margin: 12px;
}

.listItem {
  border: solid 1px rgba(145, 158, 171, 0.24);
  margin: 8px 0px;
  padding: 4px 16px;
  border-radius: 4px;
  background: linear-gradient(97.63deg, #2f57ff 0%, #2fa3ff 108.45%);
}

.quantityField {
  width: 100px;
  text-align: center !important;
}
.quantityField .css-4pzdr3-MuiInputBase-input-MuiOutlinedInput-input {
  height: 0.8375em;
}

.slider {
  background-color: transparent;
  height: 330px;
  width: 95%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  color: #212121;
}

.catigaryslider {
  background-color: transparent;
  height: 198px;
  width: 95%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  color: #212121;
}

.sliderBrand {
  background-color: transparent;
  height: 250px;
  width: 95%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  color: #212121;
}

.noData {
  font-size: 18px;
  font-weight: 400px;
  margin-left: 50px;
}

.noDataNew {
  font-size: 18px;
  font-weight: 400px;
  margin-left: 82px;
}

.noDatacat {
  font-size: 18px;
  font-weight: 400px;
  margin-left: 68px;
}

.NFTdetails {
  overflow: hidden;
  padding: 10px;
  height: 325px;
}

.Productdetails {
  overflow: hidden;
}

.deliveryimageSize {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.ProductimageSize {
  width: 100%;
  height: 410px;
  -o-object-fit: cover;
     object-fit: cover;
}

.imageSize {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.userName {
  font-size: 20px;
  color: #2196f3;
  font-weight: 600;
  text-transform: capitalize;
}

.brand {
  font-size: 21px;
  color: #2196f3;
  text-transform: capitalize;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
}

.creator {
  margin-top: 7px;
  color: #cdcdcd;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}

.AdminRole {
  margin-top: 7px;
  color: rgb(169, 157, 157);
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.tableName {
  font-family: "Poppins";
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  border-bottom: none;
  color: #98a2b2;
  margin: 9px 0px 0 7px !important;
}

.tablecell {
  font-family: "Poppins";
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  color: #98a2b2;
  margin: 0px 0px 0 0px !important;
}

.Tableheading {
  font-family: "Poppins";
  font-style: normal;
  font-size: 19px !important;
}

.color {
  color: #2f53ff;
}

.tableShadow {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25) !important;
  border-radius: 5px !important;
}

.propertyShadow {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25) !important;
  border-radius: 5px !important;
  border-color: #2f53ff !important;
}

.tableShadow {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25) !important;
  border-radius: 5px !important;
}

.mainheading {
  font-weight: 600 !important;
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-size: 27px !important;
}

.headingcard {
  font-weight: 600;
  font-family: "Poppins";
  font-style: normal;
  background-color: transparent;
}

.buttonSize {
  padding: 7px 28px !important;
  font-family: "Poppins";
  font-style: normal;
}

.Adminheading {
  background-color: transparent;
  border: none !important;
}

.stylingtitle {
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  letter-spacing: 0.5px;
}

.sidebartitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.css-bpi7ug-MuiButtonBase-root-MuiListItemButton-root.Mui-selected .MuiListItemIcon-root {
  color: #2f53ff !important;
}

.css-908h34-MuiTypography-root {
  margin: 0;
  font-size: 0.875rem;
  color: #212121;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 1.334;
  color: #2f53ff !important;
}

.adminname {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
}

.dialog {
  width: 27% !important;
  margin: 0 auto;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  .dialog {
    width: 100% !important;
    max-height: 530px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .dialog {
    width: 50% !important;
    max-height: 530px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .dialog {
    width: 50% !important;
    max-height: 530px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .dialog {
    width: 40% !important;
    max-height: 530px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1350px) {
  .dialog {
    width: 35% !important;
    max-height: 530px;
  }
}
.Nftdialog {
  width: 100% !important;
  margin: 0 auto;
}

.buttons {
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.mintbuttons {
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}

.textfieldStyle {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 19px !important;
  /* line-height: 29px; */
  color: #757575 !important;
}

.statustypo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
}

.statusHeading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
}

.css-c0hsol-MuiTypography-root {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  /* line-height: 1.334; */
  margin-top: 24px;
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 19px !important;
  /* line-height: 29px; */
  color: #757575 !important;
}

.css-ix00ao-MuiInputBase-input-MuiInput-input {
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  padding: 4px 0 5px;
  border: 0;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0;
  width: 100%;
  animation-name: mui-auto-fill-cancel;
  animation-duration: 10ms;
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  /* line-height: 29px; */
  color: #757575 !important;
}

.menustyle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14.4545px;
  /* line-height: 22px; */
  /* display: flex; */
  align-items: center;
  color: #7778c2 !important;
}

.selectstyle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14.4545px;
  /* line-height: 22px; */
  /* display: flex; */
  align-items: center;
  color: #2f53ff !important;
  padding: 7px 10px 0 10px;
  border-radius: 2px;
}

.nftButtons {
  padding: 7px 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* font-size: 19.0507px; */
  border-radius: 4px;
}

.lazyButtons {
  padding: 7px 34px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* font-size: 19.0507px; */
  border-radius: 4px;
}

.fieldbutton {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background: linear-gradient(97.63deg, #2f57ff 0%, #2fa3ff 108.45%);
  border-radius: 4px;
}

.fontstyling {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
}

.assignheading {
  font-weight: 600;
  font-family: "Poppins";
  font-style: normal;
  font-size: 25px;
}

.css-17c4ftt {
  background: #e4f3f2 !important;
}

.encap {
  white-space: nowrap;
  width: 50px !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.encap-nft {
  white-space: nowrap;
  width: 100% !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.font-in-detail {
  font-family: "Poppins";
  font-style: normal;
}

.encapPropertry {
  text-align: center;
  white-space: nowrap;
  width: auto !important;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.dialog_details {
  height: 520px;
  width: 99%;
  margin: 0 auto;
}

.fixedDialoge {
  width: 220px;
}

.prdpadding {
  padding: 10px 8px 0 25px !important;
}

.circul {
  color: #fff !important;
  width: 35px !important;
  height: 35px !important;
}

.nsm7Bb-HzV7m-LgbsSe {
  border-radius: 4px;
  box-sizing: border-box;
  transition: background-color 0.218s, border-color 0.218s;
  -webkit-user-select: none;
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border: 1px solid #dadce0;
  color: #3c4043;
  cursor: pointer;
  font-family: "Google Sans", arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 23px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: 50% !important;
  /* padding: 20px; */
  margin: 0 auto !important;
}

.css-hjvw11-MuiButtonBase-root-MuiListItemButton-root.Mui-selected .MuiListItemIcon-root {
  color: #2f53ff !important;
}

.css-dj8axb-MuiTypography-root {
  margin: 0;
  font-size: 0.875rem;
  color: #d7dcec;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 1.334;
  color: #2f53ff !important;
}

.css-hjvw11-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  color: #2f53ff !important;
  background-color: transparent !important;
}

.css-hjvw11-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: rgba(47, 83, 255, 0.1411764706) !important;
  color: #2f53ff !important;
}

.fontfigma {
  font-family: "Public Sans" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 22px !important;
  line-height: 26px !important;
}

.fontsize {
  font-size: 23px !important;
}

@media only screen and (min-width: 1568px) {
  .fontfigma {
    font-family: "Public Sans" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 28px !important;
    line-height: 26px !important;
  }
  .noDatacat {
    font-size: 25px !important;
    font-weight: 400px !important;
    margin-left: 75px !important;
  }
  .noDataNew {
    font-size: 25px !important;
    font-weight: 400px !important;
    margin-left: 75px !important;
  }
  .cardHeading {
    font-family: "Public Sans" !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 23px !important;
  }
  .Creationstyling {
    font-family: "Public Sans" !important;
    font-style: normal !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
    font-size: 20px !important;
  }
  .categoreyName {
    font-family: "Public Sans" !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 23px !important;
  }
}
.categoreyName {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.centerText {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
}

.productfigmastyl {
  font-family: "Public Sans" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 28px !important;
  /* text-align: center; */
  text-transform: capitalize !important;
}

.plight {
  font-family: "Public Sans" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 14px !important;
  text-align: center !important;
  text-transform: capitalize !important;
  color: #cdcdcd !important;
}

.MuiInputBase-input {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
}

.Creationstyling {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
}

.cardHeading {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
}

.brandName {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 200;
}

.fontfamily {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
}

.activityTable {
  font-family: "Public Sans";
  font-style: normal;
}

.newCreator {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 200;
}

.footerDownloadTag {
  font-family: "Public Sans" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}

.MarketplaceHead {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */
}

.sidebar {
  max-width: 200px !important;
}

.slick-slide .MuiGrid-root {
  margin-left: 0px !important;
  /* margin-right: 32px; */
  margin-right: 18px !important;
}

@media only screen and (min-width: 1200px) and (max-width: 1370px) {
  .cate-margin {
    margin-right: 35px;
    margin-left: -6px;
  }
  .cate-width {
    width: 210px;
  }
  .new-margin {
    margin-right: 20px;
    margin-left: 9px;
  }
  .new-width {
    width: 215px;
  }
  .feature {
    margin-right: 32px;
    margin-left: 0px;
  }
  .feature-width {
    width: 215px;
  }
  .footersocalIcons {
    margin-right: 25px;
  }
  .contactLargescrn {
    margin-top: 35px;
  }
  .sideLine {
    gap: 21px;
  }
}
@media only screen and (min-width: 1900px) and (max-width: 2560px) {
  .fontsize {
    font-size: 25px !important;
  }
  .outlet-Margin {
    margin-left: -18px;
  }
  .mainBackground {
    min-height: auto;
    max-height: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 455px;
    width: 100%;
    background-image: url(../images/background1.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin-top: 13px;
    border-radius: 4px;
  }
  .cate-margin {
    margin-right: 28px;
    margin-left: 0px;
  }
  .cate-width {
    width: 100%;
  }
  .new-margin {
    margin-right: 20px;
    margin-left: 9px;
  }
  .new-width {
    width: 100%;
  }
  .feature {
    margin-right: 32px;
    margin-left: 0px;
  }
  .feature-width {
    width: 100%;
  }
  .footersocalIcons {
    margin-right: 10px;
  }
  .contactLargescrn {
    margin-top: 35px;
  }
  .sideLine {
    gap: 21px;
  }
}
@media only screen and (min-width: 1371px) and (max-width: 1535px) {
  .cate-margin {
    margin-right: 39px;
    margin-left: 0px;
  }
  .cate-width {
    width: 230px;
  }
  .new-margin {
    margin-right: 22px !important;
    margin-left: 19px !important;
  }
  .new-width {
    width: 234px;
  }
  .feature {
    margin-right: 26px;
    margin-left: 11px;
  }
  .feature-width {
    width: 234px;
  }
  .footersocalIcons {
    margin-right: 22px;
  }
}
.font-company-page {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
}

.des-font {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .cate-margin {
    margin-right: -8px;
    margin-left: -10px;
  }
  .cate-width {
    width: 100%;
  }
  .catigaryslider {
    background-color: transparent;
    height: 198px;
    width: 85%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    color: #212121;
  }
  .slider {
    background-color: transparent;
    height: 330px;
    width: 85%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    color: #212121;
  }
  .sliderBrand {
    background-color: transparent;
    height: 250px;
    width: 85%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    color: #212121;
  }
}
@media only screen and (min-width: 1536px) and (max-width: 1699px) {
  .Gap {
    gap: 18px !important;
  }
  .new-margin {
    margin-right: 0px;
    margin-left: 2px;
  }
  .barHeight {
    height: 50px !important;
  }
}
@media only screen and (min-width: 1700px) and (max-width: 2000px) {
  .Gap {
    gap: 24px !important;
  }
}
@media only screen and (min-width: 899px) and (max-width: 1100px) {
  .Gap {
    gap: 7px !important;
  }
  .fontsize {
    font-size: 20px !important;
  }
}
@media only screen and (min-width: 2001px) {
  .Gap {
    gap: 34px !important;
  }
}
@media only screen and (max-width: 768px) {
  .slick-slide .MuiGrid-root {
    margin-left: 40px !important;
    /* margin-right: 32px; */
    margin-right: 2px !important;
  }
}/*# sourceMappingURL=style.css.map */