.my-facebook-button-class {
    background: transparent;
 
    color: white;
   
    
    text-align: center;
    border: none;
    cursor: pointer;
}
.facebook{
   
    background: linear-gradient(138.3deg, #2f53ff -0.85%, #2fc1ff 131.63%);
    border-radius: 4px;
    color: #fff;
}
.google {
   
 width: 100% !important;
    color: white;
  
    
    text-align: center;
   
    cursor: pointer;
}
