.my-facebook-button-class {
    background: transparent;
 
    color: white;
   
    font-size: 24px;
    text-align: center;
    border: none;
    cursor: pointer;
}
.facebook{
   font-size: 38px !important;
    color: #2f53ff;
    border-radius: 4px;
    color: #fff;
}
.google {
   
 width: 100% !important;
    color: white;
  background-color: transparent;
    
    text-align: center;
   
    cursor: pointer;
}
