
.link{
    font-weight: 500;
}

.socialLink{
margin-left: 5%;
}

.serviceLink{
    margin-top: 5%;
}
.aboutLink{
    margin-top: 1em;    
}

.contactLink{
    font-weight: 500;
    margin-left: 2%;
    
}

.contact{

}

    @media (max-width: 480px) {
        .contact {
         margin-left: 35%;
        }
    }